.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1100;
}

.largeImage {
  max-width: calc(100vw - 44px);
  width: 100%;
  max-height: calc(100vh - 44px);

  background-color: #fff;
  padding: 10px;
  object-fit: cover;
}
